

{% block body %}

<a class="aff" id="{{ categorie.idCategorie }}" href="" data-toggle="modal"
   data-target="#modal-primary{{ categorie.idCategorie }}"> show  </a>

<div class="modal modal-primary fade" id="modal-primary{{ categorie.idCategorie }}" style="margin-top: 9%">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title text-center">Information de la categorie {{ categorie.designCategorie }} </h4>
            </div>
            <div class="modal-body">
                <table class="table-responsive table-condensed tab-success" style="margin-left: 8%">
                    <tr>
                        <th width="10% mar" style="font-size: 18px"> Id category </th>
                        <td width="10%" style="font-size: 18px">
                            {{ categorie.idCategorie }}
                        </td>
                    </tr>
                    <tr>
                        <th width="10%" style="font-size: 18px"> Category Design </th>
                        <td width="10%" style="font-size: 18px">
                            {{ categorie.designCategorie }}
                        </td>
                    </tr>

                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline pull-left" data-dismiss="modal">Close</button>
                {{ form_start(delete_form) }}
                <input type="submit" class="btn btn-outline" value="Delete">
                {{ form_end(delete_form) }}
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>

{% endblock %}
